joblib==1.5.2
keras==3.11.3
lifelines==0.30.0
matplotlib==3.10.5
numpy==2.3.2
pandas==2.3.2
scanpy==1.11.4
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
shap==0.48.0
statsmodels==0.14.5
tensorflow==2.20.0
torch==2.8.0
torch_geometric==2.6.1
xgboost==3.0.4
